@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-effect {
    @apply transition-colors duration-300 hover:text-dark-blue dark:hover:text-violet;
  }
}
@layer utilities {
  .custom-bg {
    background-image: radial-gradient(#6f01ec 0.5px, transparent 0.5px),
      radial-gradient(#6f01ec 0.5px, transparent 0.5px);
    background-size: 20px 20px;
    background-position:
      0 0,
      10px 10px;
  }
  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-400 dark:bg-slate-700;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-light-blue dark:bg-yellow;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-dark-blue dark:bg-violet;
  }
}
